/.vs/gn-transport/CopilotIndices/
/gn-transport/bin/
/gn-transport/obj/Debug/
/.vs/gn-transport/FileContentIndex/8d5de108-7716-46c6-9ee3-d6f9b97bf369.vsidx
/gn-transport.Domain/bin/
/gn-transport.Domain/obj/
