/.vs/gn-transport/CopilotIndices/
/gn-transport/bin/
/gn-transport/obj/Debug/
/.vs/gn-transport/FileContentIndex/8d5de108-7716-46c6-9ee3-d6f9b97bf369.vsidx
/gn-transport.Domain/bin/
/gn-transport.Domain/obj/
/.vs/gn-transport/FileContentIndex/1517c1c6-4bea-464f-bf48-20c29a0fb133.vsidx
/.vs/gn-transport/FileContentIndex/9093461e-14ab-4e41-b27f-f152a53b02bf.vsidx
