/.vs/gn-transport/CopilotIndices/
/gn-transport/bin/
/gn-transport/obj/Debug/
/gn-transport.Domain/bin/
/gn-transport.Domain/obj/
/gn-transport.Application/bin/
/gn-transport.Application/obj/
/gn-transport.Infrastructure/bin/
/gn-transport.Infrastructure/obj/
/.vs/gn-transport/FileContentIndex/
/.vs/
/.vs/
